body{

background-color: lightgreen;
}
.titlu{
  color: blue;
  background-color:green;
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
  border-style: dotted;
  
}
.paragraf{
  color: yellow;
  background-color: orange;
  font-size: 20px;
  font-family: verdana;
  border-style: ridge;
}
.tabel{
 width: 100%;
  border-collapse: collapse;
}
.imagine{
border-radius:25px;
heigh: 300px;
width: 275px;
position: fixed;
opacity: 0.4;
}
#titlu1{
	
	
	font-family: verdana;
	
	
}